.header {
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;

  &::before {
    content: "";
    display: inline-block;
    width: 100vw;
    height: 100vh;
    background-color: rgba(37, 43, 73, 0.8);
    position: absolute;
    z-index: 2;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #babbc5;

    .logo {
      font-family: $font;
      font-size: 38px;
      font-weight: 800;
      color: #656980;
      text-transform: uppercase;

      &::after {
        content: "Box";
        font-family: $font;
        font-size: 38px;
        font-weight: 100;
        color: #fff;
        text-transform: uppercase;
      }
    }
    .navigation {
      width: 670px;

      .navigation-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        //   height: 99px;

        .navigation-list__item {
          width: 20%;
          border-bottom: 3px solid transparent;
          transition: 0.2s;

          &:hover {
            transition: 0.2s;
            border-bottom: 3px solid #babbc5;
            &:active {
              border-bottom: 3px solid #e71414;
              .navigation-link {
                color: #e71414;
              }
            }
          }

          .navigation-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-family: $font;
            font-size: $f-size-h6;
            font-weight: $f-w-h2-h3-h6;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            padding: 40px 0;
          }
        }
      }
    }

    .burger-menu {
      display: none;
      width: 55px;
      height: 55px;

      .fa-bars {
        color: #fff;
        font-size: 1.75rem;
      }

      .fa-xmark {
        // display: none;
        color: #fff;
        font-size: 1.8rem;
      }
    }
  }

  .banner-wrap {
    .banner-text-wrap {
      padding: 130px 0 120px;

      .banner-title {
        font-family: $font;
        font-size: $f-size-h1;
        font-weight: $f-w-h1-h4;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        width: 1020px;
        margin: 0 auto 32px;
      }
      .banner-description {
        font-family: $font;
        font-size: $f-size-h4;
        font-weight: 400;
        color: #fff;
        text-align: center;
        width: 1020px;
        margin: 0 auto 80px;
      }
      .banner-button {
        width: 370px;
        height: 80px;
        margin: auto;
        background-color: #ff4343;
        cursor: pointer;
        animation: pulse-button 1s infinite;

        @keyframes pulse-button {
          0% {
            transform: scale(0.9);
          }
          50% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(0.9);
          }
        }

        &:active {
          box-shadow: 4px 4px 30px #ff4343;
        }

        .banner-link-download {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          color: #fff;
          font-family: $font;
          font-size: $f-size-h4;
          font-weight: $f-w-h1-h4;
          text-transform: uppercase;
          text-align: center;
        }

        &:hover {
          background-color: #e71414;

          &:active {
            background-color: #ff4343;
          }
        }
      }
    }
  }
}

@media (max-width: 1045px) {
  .header {
    .header-wrap {
      .navigation {
        width: 600px;
      }
    }
    .banner-wrap {
      .banner-text-wrap {
        .banner-title {
          font-size: 3.5rem;
          width: 900px;
          margin-bottom: 45px;
        }
        .banner-description {
          font-size: 1.5rem;
          width: 900px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header {
    .header-wrap {
      .navigation {
        width: 566px;
        .navigation-list {
          .navigation-list__item {
            .navigation-link {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
    .banner-wrap {
      .banner-text-wrap {
        padding: 157px 0 126px;
        .banner-title {
          font-size: 3rem;
          width: 800px;
          margin-bottom: 61px;
        }
        .banner-description {
          font-size: 1.125rem;
          width: 800px;
          margin-bottom: 89px;
        }

        .banner-button {
          width: 314px;
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .header {
    .header-wrap {
      .navigation {
        width: 450px;
      }
    }

    .banner-wrap {
      .banner-text-wrap {
        .banner-title {
          max-width: 600px;
        }
        .banner-description {
          max-width: 600px;
        }
      }
    }
  }
}
@media (max-width: 720px) {
  .header {
    z-index: 8;
    position: relative;

    .header-wrap {
      margin: 0;
      border: none;
      z-index: 6;
      .logo {
        font-size: 1.25rem;
        padding: 16px 0;

        &::after {
          font-size: 1.25rem;
        }
      }
      .navigation {
        z-index: 100;
        position: absolute;
        top: -1000;
        left: 0;
        background-color: rgba(37, 43, 73, 0.8);
        .navigation-list {
          margin-top: 28px;
          z-index: 100;
          position: absolute;
          flex-direction: column;
          width: 100%;

          .navigation-list__item {
            width: 90%;

            .navigation-link {
              justify-content: flex-start;
              padding: 25px 0;
            }
          }
        }
      }
      .navigation.active {
        position: absolute;
        z-index: 1000;
        width: 100vw;
        height: 92vh;
        top: 56;
        left: 0;
        background-color: rgba(37, 43, 73, 0.95);
        box-shadow: -3px -20px 40px rgba(37, 43, 73, 0.9);
      }
      .burger-menu {
        display: block;
        position: relative;
        z-index: 4;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-bars {
        }
      }
    }

    .banner-wrap {
      .banner-text-wrap {
        padding: 50px 0;

        .banner-title {
          font-size: 2.25rem;
          width: 280px;
        }
        .banner-description {
          font-size: 0.875rem;
          width: 100%;
          margin: 0 auto 50px;
        }
        .banner-button {
          width: 280px;
          height: 60px;

          @keyframes pulse-button {
            0% {
              transform: scale(0.9);
            }
            50% {
              transform: scale(1);
            }
            100% {
              transform: scale(0.9);
            }
          }

          .banner-link-download {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
