.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
  margin-bottom: 45px;
}
.swiper-slide-wrap {
  display: flex;

  .swiper-slide-img {
    width: 50%;
    overflow: hidden;
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  .swiper-slide-text-wrap {
    width: 50%;

    .swiper-slide-text-wrapper {
      padding: 113px 0 116px;
      width: 470px;
      margin: auto;

      .swiper-slide-text {
        font-family: $font-cardo;
        font-style: italic;
        font-size: $f-size-h2;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 17px;
      }
      .swiper-slide-description {
        font-family: $font;
        font-weight: $f-w-h2-h3-h6;
        font-size: $f-size-h6;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}

.slide-text-wrap-1 {
  background-color: #5c3249;
}

.slide-text-wrap-2 {
  background-color: cadetblue;
}
.slide-text-wrap-3 {
  background-color: rgb(47, 77, 133);
}
.slide-text-wrap-4 {
  background-color: rgb(122, 33, 33);
}
.slide-text-wrap-5 {
  background-color: rgb(17, 75, 17);
}

.swiper-pagination {
  .swiper-pagination-bullet {
    margin-right: 25px !important;
    width: 14px;
    height: 14px;
    border: 1px solid #5c3249;
    background-color: #fff;
    opacity: 1;

    &:last-child {
      margin-right: 0 !important;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #5c3249;
  }
}
