.team {
  background-color: #fff;
  padding: 114px 0;

  .team-wrap {
    display: flex;
    justify-content: space-between;

    .card-employee {
      width: 270px;

      .employee-img {
        width: 270px;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        overflow: hidden;

        img {
          overflow: hidden;
        }
      }
      .employee-name {
        font-family: $font;
        font-size: $f-size-h4;
        font-weight: 700;
        color: #2d3033;
        margin-bottom: 5px;
      }
      .employee-profession {
        font-family: $font;
        font-size: $f-size-h5;
        font-weight: $f-w-h5;
        text-transform: uppercase;
        color: #ff4343;
        margin-bottom: 18px;
      }
      .employee-decription {
        font-family: $font;
        font-size: $f-size-h5;
        font-weight: $f-w-h5;
        color: #6c7279;
        margin-bottom: 38px;
      }
    }

    .employee-social {
      width: 135px;

      .employee-social-list {
        display: flex;
        justify-content: space-between;

        .employee-social-list__item {
          font-size: 1.125rem;
          cursor: pointer;

          .footer-navigation-link {
            width: 39px;
            height: 39px;
            border: 1px solid #c6cbcd;
            display: flex;
            justify-content: center;
            align-items: center;

            .fa-brands {
              color: #c6cbcd;
            }
            &:hover {
              transition: 0.3s;
              border-radius: 20%;
              transform: scale(1.2);
              background-color: rgba(185, 177, 177, 0.3);
              .fa-facebook-f {
                color: #3b5998;
              }
              .fa-twitter {
                color: #00acee;
              }
              .fa-linkedin {
                color: #0e76a8;
              }
            }
          }
        }
      }
    }
  }
}
